<!DOCTYPE html>
<html>
    <head>
        <title>Counter-Strike</title>
        <link rel="icon" href="../../static/images/logo_images/strike_icon.png">
    </head>

    <body>
        <p><h1>Counter-Strike</h1></p>
        <h3><i>"A very useful ability that nobody knows about."- Me</i></h3>

        <br>
        <hr>

        <p><b>Quick Travel ▽</b></p>
        <ul>
            <form>
                <input type="button" value="Go Back ◄" onclick="history.back()">
            </form>
            <p>↳ <a href="http://127.0.0.1:8000/">Skynet Network | Home</a></p>
            <p>↳ <a href="http://127.0.0.1:8000/abilities/">Abilities</a></p>
            <p>↳ <a href="http://127.0.0.1:8000/survival/">Survival</a></p>
        </ul>
    </body>
</html>