<!DOCTYPE html>
<html>
    <head>
        <title>Healing</title>
        <link rel="icon" href="../../static/images/logo_images/heal_icon.png">
    </head>
    <body>
        <p><h1>Healing</h1></p>
        <h3><i>"You may be dead, but I am still <b>healing</b>"- Scarf</i></h3>

        <br>

        <p><b>A Withermancer (you) needs to know how to heal effectively.</b></p>
        <p><b>Healing can be achieved through <a href="soulsteal.html">Withermancy</a> itself, but sometimes that isn't enough.</b></p>
        
        <br>
        <hr>

        <p>One way to heal yourself is through literature. Reading lexical context is a great way to heal as it allows you to</p>
        <p>be immersed in another world. After a while, you might shimmer to realize that your are back from the dead.</p>
        <p>There are also a arrangement of healing <a href="abilities.html">abilities</a>, which certain you should look at.</p>
        
        <br>

        <p>Here is a list of healing abilties, only to name a few:</p>
        <ul>
            <li>Giga Heal (Ability)</li>
            <li>Relic of Atonement</li>
            <li>Absorption Shield</li>
            <li>Critical Wither Shield (Ability)</li>
            <li>Extreme Measures (Ability)</li>
            <li>Overflow Conversions</li>
            <li>Blood of the Superior *</li>
        </ul>
        
        <br>

        <p>* <b>The Blood of the Superior is a very special healing ability that is outdated, so you can ignore it.</b></p>

        <hr>

        <p><b>Quick Travel ▽</b></p>
        <ul>
            <form>
                <input type="button" value="Go Back ◄" onclick="history.back()">
            </form>
            <p>↳ <a href="http://127.0.0.1:8000/">Skynet Network | Home</a></p>
            <p>↳ <a href="http://127.0.0.1:8000/abilities/">Abilities</a></p>
            <p>↳ <a href="http://127.0.0.1:8000/survival/">Survival</a></p>
        </ul>
    </body>
</html>