<!DOCTYPE html>
<html>
    <head>
        <title>Skynet Network</title>
        <link rel="icon" href="../static/images/logo_images/sky_icon.jpg">
    </head>
    <body>
        <h1>Skynet Network</h1>
        <p>We all do things that we never knew existed.</p>
        <p>Withermancy is one of them.</p>

        <p><h4>No need to register, resources are for everyone.</h4></p>

        <br>
        <hr>

        <p><h3>Here is a complete guide to elements of Withermancy!</h3></p>
        <ul>
            <li><a href="http://127.0.0.1:8000/healing/">Healing</a></li>
            <li><a href="http://127.0.0.1:8000/intelligence/">Overflow Intelligence</a></li>
            <li><a href="http://127.0.0.1:8000/soulstealing/">Soulstealing</a></li>
            <li><a href="http://127.0.0.1:8000/counter-strike/">Counter-Strike</a></li>
            <li><a href="http://127.0.0.1:8000/recombulation/">Recombulation</a></li>
            <li><a href="http://127.0.0.1:8000/abilities/">Abilities</a></li>
            <li><a href="http://127.0.0.1:8000/survival/">Survival?</a></li>
        </ul>
        
        <br><br>
        <hr>
        
        <h2>Want to learn more about Skynet?</h2>

        <p>Maybe after all of this, you have a deeper understanding of relationships.</p>
        <p>I guess we all live and learn. Contact us any time!</p>
        <form action="http://127.0.0.1:8000/contact/">
            <input type="submit" value="Contact Us"/>
        </form>

        <br><br><br>
        <hr>

        <p><h3>Message from the founder</h3></p>
        <address>
            <p>Withermancy is only one of the many things required to build a successful relationship.</p>
            <p>"Wait, I have never heard of this before!" Well, in fact, I came upon the idea of Withermancy.</p>
            <p>We do it unintentionally all the time. This is why I created the Skynet network.</p>
            <p>So see you at the end, my friend.</p>
        </address>

        <br>
        <h4><i>"Superiority does not have to be demonstrated, it is renowned."</i>- Necron</h4>
    </body>
</html>