<!DOCTYPE html>
<html>
    <head>
        <title>Submission Receieved</title>
        <link rel="icon" href="../static/images/logo_images/sky_icon.jpg">
    </head>
    <body>
        <h1>Thank you for Submitting!</h1><br>

        <h3>Additional Contact Info:</h3>

        <p><b>Email:</b> infinityscrub@outlook.com</p>
        <p><b>Address:</b> Somewhere on Earth</p>
        <p><b>Discord:</b> </p>
        <p><b>Snapchat:</b> KEVN LI</p>

        <hr><br>

        <form action="http://127.0.0.1:8000/">
            <input type="submit" value="Return Home ←"/>
        </form>
    </body>
</html>